beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
gevent==23.9.1
greenlet==3.0.3
grequests==0.7.0
idna==3.6
lxml==5.1.0
requests==2.31.0
soupsieve==2.5
urllib3==2.2.0
zope.event==5.0
zope.interface==6.1
